body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}
.container {
  display: flex;

  height: 100vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* overflow: hidden; */
}

.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  padding: 7vh;
  height: 10 0vh;
  min-height: 100vh;
}

.player1 {
  background-color: #172737;
}

.player2 {
  background-color: #f56525;
}

.player-name,
.command-points {
  margin-bottom: 10px;
}
.player-name {
  font-size: 6.5vh;
  text-align: center;
}

.score-table {
  border-collapse: separate;
  border-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.score-table th,
.score-table td {
  padding: 0;
  width: 100px; /* Increase width */
  height: 100px; /* Increase height */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
}

.score-table th {
  font-weight: 600;
}

.score-table input {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid transparent;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
  font-size: 5vh;
}
label {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}

.score-table th {
  background-color: transparent; /* Remove white background */
  border: none; /* Remove border */
  color: #ffffff; /* Set font color to white */
  padding: 0;
}

.score-table tr:first-child td {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0;
}

.score-table tr td:first-child {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0;
}

td input[type="text"] {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0;
  font-size: 2.8vh;
  width: 100%;
  box-sizing: border-box;
}

.number-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 50%;
  height: 10%;
}

.number-input-wrapper input[type="number"] {
  width: 40%;
  height: 60%;
  text-align: center;
  padding-right: 20px;
  margin: 0 auto;
  font-size: 25px;
}

.score-table .number-input-wrapper {
  width: 100%;
  height: 100%;
}
.number-input-wrapper label {
  font-size: 3vh;
}
.score-table input[type="number"] {
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  padding-right: 20px;
}

.arrow {
  position: absolute;
  right: 5%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 25px;
  padding: 65% auto;
  cursor: pointer;
}

.arrow-up {
  top: 8px;
}

.arrow-down {
  bottom: 8px;
}

.arrow:active {
  color: #888;
}

input[type="number"] {
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Hide arrows in WebKit browsers */
  margin: 0; /* Remove default margin */
}

header {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo-wrapper {
  display: inline-block;
  background-color: #172737;
}

header img {
  width: 25%;
  height: 25%;
}

h1 {
  margin: 0% auto;
  padding: 8%;
  width: 10%;
  height: 33%;
  font-size: 9.5vh;
  cursor: pointer;
}

body {
  background: linear-gradient(-45deg, #26425d, #132850, #ff7726, #bf511a);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  cursor: pointer;
  overflow-y: auto;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/* --------------------------- */

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 300 64px/1 "Josefin Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

#section06 {
  background: url(https://picsum.photos/1200/800?image=901) center center /
    cover no-repeat;
}

#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font: normal 300 64px/1 "Josefin Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section06 a {
  padding-top: 70px;
}
#section06 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.play-btn {
  width: 100%;
  height: 60%;
}
.play-btn h1 {
  font-size: 8.5vh;
  width: 17%;
}
/* Timer styles */
#timer1,
#timer2 {
  display: inline-block;
  width: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.timer-start,
.timer-stop {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.timer-start:hover,
.timer-stop:hover {
  filter: brightness(0.9);
}

.player1 .timer-start,
.player1 .timer-stop {
  background-color: #f56525;
  color: #ffffff;
}

.player2 .timer-start,
.player2 .timer-stop {
  background-color: #172737;
  color: #ffffff;
}

.timer-display {
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 4px;
}
.timer-container {
  display: flex;
  align-items: center;
}

.timer-container .timer-start {
  margin-right: 10px;
}
.score-table input[type="text"] {
  font-size: 14px;
}
#player1-command-points {
  height: 7vh;
}
.timer-duration {
  padding: 3vh;
  
}
.timer-duration-input {
  font-size: 3vh;
  text-align: center;
}
